* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabuleiro {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    margin-top: 200px;
    text-align: center;
}

.botao {
    background: rgb(240, 134, 47);
    border: 2px double rgb(255, 184, 127);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 500;
    border-radius: 5px;
    width: calc(33% - 4px);
    height: 100px;
    margin-bottom: 5px;
    cursor: pointer;
}

.botao:hover {
    background: rgba(240, 134, 47, 0.85);
}

.botao:active {
    background: rgba(240, 163, 47, 0.85);
}